@font-face {
	font-family: 'Roboto';
	src: url('./fonts/Roboto-Black.ttf');
}

@font-face {
	font-family: 'Lilita One';
	src: url('./fonts/LilitaOne-Regular.ttf');
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
}

.canvas {
	background-color: #000070;
}

.hide {
	display: none;
}
